# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.so

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Packaging
# =========================
*.egg-info/
dist/
build/
project_root/future/
*.fits
!project_root/tests/**/*.fits
project_root/tests/**/output*/
project_root/notebooks/old/
project_root/notebooks/my_notebooks/

*.json
*.gui
*.yaml
!project_root/configs/**/default.*
!project_root/src/spectraPyle/instruments/instruments_rules.json
!.readthedocs.yaml

# =========================
# Logs & outputs
# =========================
*.log
*.out

# =========================
# Data (important!)
# =========================
*.h5

# keep small test CSV if needed
# !tests/*.csv

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Temporary / scratch
# =========================
*~
