# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.so

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Packaging
# =========================
*.egg-info/
dist/
build/
config_test/
future/
*.fits
!tests/data/**/*.fits
tests/**/outputs/
old/
my_notebooks/

*.json
*.gui
*.yaml
!configs/**/default.*
!src/spectraPyle/instruments/instruments_rules.json

# =========================
# Logs & outputs
# =========================
*.log
*.out

# =========================
# Data (important!)
# =========================
*.h5

# keep small test CSV if needed
# !tests/*.csv

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Temporary / scratch
# =========================
*~
