# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.so

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Packaging
# =========================
*.egg-info/
dist/
build/

# =========================
# Logs & outputs
# =========================
*.log
*.out

# =========================
# Data (important!)
# =========================
*.fits
*.h5

# keep small test CSV if needed
# !tests/*.csv

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Temporary / scratch
# =========================
*~
